<body>
  <h1>Rezeptenbibliothek</h1>

  <% Tag.all.each do |tag| %>
    <a href="<%= show_tag_path(tag) %>" class="badge badge-primary"><%= tag.name %></a>
  <% end %>

  <br><br>


  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
          <div class="alert alert-primary" role="alert">
            <h3><%= link_to post.title, post %></h3>
            <p>(vom <%= post.created_at %>)</p>
            <% post.tags.each do |tag| %>
            <a href="<%= show_tag_path(tag) %>" class="badge badge-primary"><%= tag.name %></a>
            <% end %>
          </div>
      <% end %>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <a href="#" class="badge badge-primary">Fisch</a>
  <a href="#" class="badge badge-secondary">Fleisch</a>
  <a href="#" class="badge badge-success">Gemüse</a>
  <a href="#" class="badge badge-danger">Gebacken</a>
  <a href="#" class="badge badge-warning">Gebraten</a>
  <a href="#" class="badge badge-info">Suppen</a>
  <a href="#" class="badge badge-light">Frühstück</a>
  <a href="#" class="badge badge-dark">Getränke</a>
  <br>
  <button type="button" class="btn btn-outline-primary">Fisch</button>
  <button type="button" class="btn btn-outline-secondary">Fleisch</button>
  <button type="button" class="btn btn-outline-success">Gemüse</button>
  <button type="button" class="btn btn-outline-danger">Gebacken</button>
  <button type="button" class="btn btn-outline-warning">Gebraten</button>
  <button type="button" class="btn btn-outline-info">Suppen</button>
  <button type="button" class="btn btn-outline-light">Frühstück</button>
  <button type="button" class="btn btn-outline-dark">Getränke</button>
</body>