%body
  %p#notice= notice
  %p Eure Bewertungen und Bemerkungen machen die Rezepte noch besser!

  .white-on-black
    %table.table.table-hover.table-responsive
      %thead
        %tr
          %th.w30 Autor
          %th.w55 Kommentar
          %th Post
          %th{:colspan => "3"} Funktion
      %tbody
        - @comments.each do |comment|
          %tr
            %td= comment.commenter
            %td= comment.body
            %td= comment.post_id
            %td= link_to 'Show', comment
            %td= link_to 'Edit', edit_comment_path(comment)
            %td= link_to 'Löschen', comment, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Comment', new_comment_path
