<body>
  <p id="notice"><%= notice %></p>

  <h1>Kommentare und Bemerkungen</h1>

  <h3>Eure Bewertungen und Bemerkungen machen die Rezepte noch besser!</h3>

  <table id="posts_liste">
    <thead>
      <tr>
        <th>Commenter</th>
        <th>Body</th>
        <th>Post</th>
        <th colspan="3">Funktion</th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.commenter %></td>
          <td><%= comment.body %></td>
          <td><%= comment.post_id %></td>
          <td><%= link_to 'Show', comment %></td>
          <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
          <td><%= link_to 'Löschen', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Comment', new_comment_path %>
</body>