%body
  = form_with(model: post, local: true) do |form|
    - if post.errors.any?
      #error_explanation
        %h2
          = pluralize(post.errors.count, "error")
          prohibited this post from being saved:
        %ul
          - post.errors.full_messages.each do |message|
            %li= message

    .form-group.white-on-black
      = form.label :title, 'Titel'
      = form.text_field :title, class: 'form-control', placeholder: 'Zutaten, Schritte'  
    .field.white-on-black
      = form.label :body, 'Rezept'
      = form.rich_text_area :body
    %br
    %button.btn.btn-primary{:type => "submit"} Abschicken
