
  <p id="notice"><%= notice %></p>

  <h1>Posts</h1>

  <h3>Alles, was wir hier bisher gesammelt haben: </h3>

  <table id="posts_liste">
    <thead>
      <tr>
        <th>Titel</th>
        <th>Tags</th>
        <th colspan="3">Funktion</th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post.title, post %></td>
          <td><% post.tags.each do |tag| %> 
            <a href="<%= show_tag_path(tag) %>" class="badge badge-primary"><%= tag.name %>
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to '+Tags', tag_post_path(post) %></td>
          <td><%= link_to 'Löschen', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
  </table>
  <br>
  <%= link_to 'New Post', new_post_path %>
