%body
  %p.heading Tags hinzufügen
  %h2
    = @post.title

  = form_with(url:tag_post_path(@post)) do |f|
    .form-group
      = f.label :tag
      = f.text_field :tag, class: 'form-control'
    = f.hidden_field :post_id, value: @post.id
    %button.btn.btn-primary{:type => "submit"} Abschicken

  %p
    - @post.tags.each do |tag|
      %div
        = form_with(url:remove_tag_path(@post)) do |form|
          = form.hidden_field :tag_id, value: tag.id
          = form.submit "x"
          %a.badge.badge-primary= tag.name
