<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body> 
    <ul class="nav">
      <li class="nav-item"> <a class="nav-link active" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/posts">Posts</a></li>
      <li class="nav-item"><a class="nav-link" href="/posts/new">New Post</a></li>
      <li class="nav-item"><a class="nav-link" href="/comments">Kommentar</a></li>
    </ul>
    <%= yield %>
  </body>
  <footer>
    <div class=btn-position>
      <a href="#">
        <button type="button" class="mbtn">
          <i class="material-icons">arrow_upward</i>
        </button>
      </a>
    </div>
  </footer>
</html>
